# Include only the specified 'hidden' directory and files.
.*
!.env.example
!.gitattributes
!.gitignore
!.gitkeep


# Ignored directories
node_modules
public/hot
public/storage
storage/*.key
vendor

# Ignored Files
*.log
Homestead.json
Homestead.yaml

